
body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: purple;
    height: 100%;
    width: 100%;
    margin: 0;
}
header{
    width: 100%;
    box-shadow: 0px 6px 6px 0px rgba(219,216,219,1);
    margin: 0;
}

#spanLogo{
    background-color: blue;
    color: white;
}

.container{
    width: 70%;
    margin: auto;
    color: black;
}

.vrh{
    display: flex;
    justify-content: space-between;
}

#logo{
    text-align: left;
    margin: 0;
    padding: 10px;
    display: inline-block;
}

#divUpdatedUsername{
    margin: 0;
    display: inline-block;
    padding: 10px;
}

.btn{
    width: 200px;
    height: 40px;
    font-size: 18px;
    background-color: purple;
    color: white;
    border: 0;
    border-radius: 5px;
}

.btn:hover{
    background-color: rebeccapurple;
    /* background-color: coral; */
    cursor: pointer;
}

form{
    margin: 15px;
}

input{
    width: 400px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
}

textarea{
    width: 400px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    resize: none;
}

#dateFrom, #dateTo{
    width: 200px;
    /* margin: 10px; */
}

input:focus, textarea:focus{
    border: 3px purple solid;
}

input:focus, .btn:focus, textarea{
    outline-width: 0;
}

.username{
    font-weight: bold;
}

.date{
    color: grey;
    /* display: flex;
    justify-content: space-between; */
}

#ulMessages{
    list-style-type: none;
    font-size: 20px;

    /* Poyicioniranje centralno ispod top sekcije */
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    bottom: 20%;
    overflow: hidden;

    /* ul centralno postavljena, ali tekst levo poravnat */
    text-align: left;
    width: 700px;
    margin: 0 auto;

    /* dodamo skrolovanje poruka */
    overflow-y: auto;

    /* prelom bilo koje reÄi bez razmaka */
    word-wrap: break-word;

}

#ulMessages>li{
    width: 60%;
    background-color: thistle;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 20px;
    border-radius: 0px 20px 20px 20px;
}

.me{
    margin-left: auto;
    background-color: bisque !important;
    border-radius: 20px 0px 20px 20px !important;
}

#top{
    position: absolute;
    height: 25%;

    /* Postaviti centralno */
    left: 0;
    right: 0;
    top: 0;

    overflow: hidden;
}

#bottom{
    position: absolute;
    height: 20%;

    /* Postaviti centralno */
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;
}

#divUpdatedUsername{
    font-size: 20px;
}

#spanNewUsername{
    font-weight: bold;
}

.btn-selected{
    background-color: rgb(50, 10, 50);
    color: bisque;
}
.image{
    text-align: right;
}

.img{
    width: 30px;
    display: block;
    text-align: right;

}
